@import "../global.scss";

.grid {
    width: 100%;
    padding: 1rem;
    border-bottom: 0.5px solid $grey;
    display: grid;
    margin-bottom: 2rem;
    grid-template-columns: 40% 30% 10% 15% 5%;
    text-align: center;
    position: relative;

    .item {
        display: flex;
        align-items: center;
        text-align: left;

        .details {
            padding-left: 1rem;

            h5 {
                font-size: 1.1rem;
                font-family: $mainfont;
                font-weight: 500;
                margin: 0;
                margin-bottom: 0.2rem;
            }

            p {
                font-size: 0.8rem;
                margin: 0;
                font-weight: 300;
            }
        }

        .image {
            width: 3.5rem;
            img {
                width: 100%;
            }
        }
    }

    .quantity {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            font-size: 1rem;
            padding: 0.25rem;
            margin: 0 0.25rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .remove {
        padding: 0.5rem;
        font-size: 0.9rem;
        cursor: pointer;
        display: block;
        margin: auto;

        &:hover {
            font-weight: 500;
        }
    }

    @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
            width: 100%;
            margin-bottom: 0.5rem;
        }

        .quantity {
            // width: 100%;
            order: 3;
            font-size: 1rem;
        }

        .price {
            order: 2;
            font-size: 1rem;
        }

        .total {
            width: 100%;
            order: 4;

            p {
                font-weight: 400;
                font-size: 1rem;
                background-color: $grey;
                padding: 0.2rem 1rem;
                color: $white;
                display: inline-block;
            }
        }

        .remove {
            display: unset;
            margin: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}
