@import "../global.scss";

.block {
    width: 27.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-wrapper {
        height: 30vh;
        width: 100%;
        overflow: hidden;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }

    h5 {
        text-transform: uppercase;
        text-align: center;
        font-family: $mainfont;
        font-weight: 500;
        letter-spacing: 0.25px;
        font-size: 1rem;
        color: $grey;

        &:after {
            content: "";
            display: block;
            margin: auto;
            margin-top: 2px;
            height: 2px;
            width: 0.75rem;
            background: $grey;
            // background: transparent;
            transition: width 0.2s ease-out, background-color 0.3s ease;
            -webkit-transition: width 0.2s ease-out, background-color 0.3s ease;
            -moz-transition: width 0.2s ease-out, background-color 0.3s ease;
            -ms-transition: width 0.2s ease-out, background-color 0.3s ease;
            -o-transition: width 0.2s ease-out, background-color 0.3s ease;
        }
    }

    &:hover {
        h5:after {
            width: 100%;
            background: $grey;
        }
    }

    @media (max-width: 1500px) {
        .image-wrapper {
            height: 45vh;
        }
    }

    @media (max-width: 768px) {
        width: 45%;
    }

    @media (max-width: 576px) {
        width: 80%;

        .image-wrapper {
            height: 35vh;
        }
    }
}