@import "../global.scss";

.block {
    width: 22.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-wrapper {
        height: 30vh;
        width: 100%;
        overflow: hidden;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
            transition: 0.4s ease-in-out;
        }

        img:hover {
            width: 105%;
        }
    }

    .text {
        width: 100%;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h5 {
            text-transform: uppercase;
            text-align: center;
            font-family: $mainfont;
            font-weight: 500;
            letter-spacing: 0.25px;
            font-size: 1rem;
            color: $grey;
            margin: 0.5rem;

            &:after {
                content: "";
                display: block;
                margin: auto;
                margin-top: 0.25rem;
                height: 2px;
                width: 0.75rem;
                background: $grey;
                // background: transparent;
                transition: width 0.2s ease-out, background-color 0.3s ease;
                -webkit-transition: width 0.2s ease-out, background-color 0.3s ease;
                -moz-transition: width 0.2s ease-out, background-color 0.3s ease;
                -ms-transition: width 0.2s ease-out, background-color 0.3s ease;
                -o-transition: width 0.2s ease-out, background-color 0.3s ease;
            }
        }

        p {
            padding: 0.25rem 1rem;
            background-color: $grey;
            font-size: 0.8rem;
            color: $white;
            display: inline-block;
            margin: 0.5rem 0 0 0;
            border: 2px solid $grey;
            transition: 0.4s ease;
            text-align: center;
        }
    }

    &:hover {
        .text {
            h5:after {
                width: 60%;
                background: $grey;
            }
        }
    }

    @media (max-width: 1500px) {
        .image-wrapper {
            height: 40vh;
        }
    }

    @media (max-width: 991px) {
        width: 30%;
    }

    @media (max-width: 768px) {
        width: 45%;
    }

    @media (max-width: 576px) {
        width: 80%;

        .image-wrapper {
            height: 35vh;
        }
    }
}