@import "../global.scss";

.block {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image-wrapper {
        img {
            width: 100%;
            display: block;
            margin: auto;
        }
    }

    h5 {
        text-transform: uppercase;
        font-family: $mainfont;
        font-weight: 500;
        letter-spacing: 0.25px;
        font-size: 1rem;
        color: $grey;
    }
}
