@import "../global.scss";

.info-block {
    position: relative;
    padding: 8rem 0;

    .container-wrapper {
        background-color: $faded-blue;

        .grid {
            display: flex;
            align-items: center;

            .content {
                width: 55%;
                padding: 2rem 2rem 2rem 4rem;
                box-sizing: border-box;

                h4 {
                    font-size: 2rem;
                    margin: 0;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 0.95rem;
                    font-weight: 300;
                    margin: 0.5rem 0;
                }
            }

            .image {
                overflow: visible;
                width: 45%;
                margin: -5% 0;
            }

            .image-wrapper {
                box-sizing: border-box;
                padding: 0 1.5rem;
                background-color: #ffffff;
                float: right;
                width: 75%;
            }
        }
    }

    &.align-right {
        .container-wrapper {
            .grid {
                .content {
                    text-align: right;
                    order: 1;
                    padding: 2rem 4rem 2rem 2rem;
                }

                .image {
                    order: 2;
                    position: relative;

                    .image-wrapper {
                        float: left;
                    }
                }
            }
        }
    }

    &.yellow {
        .container-wrapper {
            background-color: $faded-yellow;
        }
    }

    @media (max-width: 991px) {
        .container-wrapper {
            .grid {
                .image-wrapper {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .container-wrapper {
            .grid {
                .content {
                    order: 2;
                }
            }
        }

        *,
        &.align-right .container-wrapper,
        .container-wrapper {
            .grid {
                flex-direction: column;

                .image {
                    order: 1;
                    width: 100%;
                    justify-content: center;
                    display: flex;

                    .image-wrapper {
                        width: 60%;
                        padding: 1.5rem;
                        margin-top: -10%;
                        float: unset;
                    }
                }

                .content {
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    padding: 4rem 0 2rem 0;
                }
            }
        }
    }

    @media (max-width: 576px) {

        *,
        &.align-right .container-wrapper,
        .container-wrapper {
            .grid {
                .image {
                    .image-wrapper {
                        width: 90%;
                        margin-top: -20%;
                        float: unset;
                    }
                }
            }
        }
    }
}