@import "../global.scss";

.picture-grid {
    height: 100%;
    width: 100%;
    position: relative;
    // padding: 0 2rem;
    // min-height: 90vh;
    padding: 4rem 0;
    display: flex;
    align-items: center;

    .colour-block {
        background-color: $faded-pink;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        z-index: -1;

        &.blue {
            background-color: $faded-blue;
        }
    }

    .grid {
        display: flex;
        height: 100%;
        width: 100%;
        z-index: 5;

        .image {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 40%;

            .image-container {
                width: 100%;
                padding: 1.5rem;
                background-color: $white;
                box-sizing: border-box;

                .collection {
                    object-fit: contain;
                    width: 100%;
                }

                &.with-arrows {
                    padding-bottom: 1rem;
                }
            }

            .arrows {
                margin-top: 0.5rem;
                display: flex;
                justify-content: center;

                i {
                    background-color: $grey;
                    color: $white;
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                i:first-child {
                    margin-right: 0.5rem;
                }
            }
        }

        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            width: 60%;
            padding-left: 3rem;

            h1 {
                font-size: 3rem;
                font-family: $headingfont;
                margin-bottom: 1rem;
            }

            p {
                font-size: 0.95rem;
                margin: 0.5rem 0;
                font-weight: 300;
                white-space: pre-wrap;

                span {
                    font-weight: 400;
                }
            }
        }
    }

    &.reverse {
        .colour-block {
            right: 0;
            left: unset;
        }

        .grid {
            flex-direction: row-reverse;

            .image {
                justify-content: flex-start;
            }

            .content {
                padding-left: 0;
                padding-right: 3rem;
                align-items: flex-end;
                text-align: right;
            }
        }
    }

    &.landing {
        min-height: 100vh;

        .content {
            p {
                font-size: 1.05rem;
            }
        }
    }

    &.full-height {
        min-height: 90vh;
    }

    // Media Queries

    @media (max-width: 991px) {
        .grid {
            .image {
                .image-container {
                    width: 100%;
                }
            }

            .content {
                padding-left: 2rem;
            }
        }

        &.reverse {
            .content {
                padding-right: 2rem;
            }
        }
    }

    @media (max-width: 768px) {
        padding-bottom: 0;

        .colour-block {
            width: 100%;
            height: 30%;
        }

        .grid {
            flex-wrap: wrap;

            .image {
                width: 100%;
                justify-content: center;

                .image-container {
                    width: 60%;
                }
            }

            .content {
                width: 100%;
                text-align: center;
                align-items: center;
                padding: 0;
                padding-top: 2rem;
            }
        }

        &.reverse {
            .grid {
                .image {
                    justify-content: center;

                    .image-container {
                        width: 80%;
                    }
                }

                .content {
                    padding: 0;
                    padding-top: 2rem;
                    text-align: center;
                    align-items: center;
                }
            }
        }

        &.bottom-margin {
            margin-bottom: 4rem;
        }
    }

    @media (max-width: 576px) {
        padding-top: 6rem;

        .colour-block {
            height: 25%;
        }

        .grid {
            .image {
                .image-container {
                    width: 80%;
                }
            }
        }

        &.landing {
            min-height: unset;
        }

        &.collection {
            min-height: unset;
        }
    }
}