@import "../global.scss";

.picture-grid {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 2rem;
    min-height: 90vh;
    display: flex;
    align-items: center;

    .colourBlock {
        background-color: $faded-pink;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 35%;
        z-index: -1;

        &.blue {
            background-color: $faded-blue;
        }
    }

    .grid {
        display: flex;
        height: 100%;
        width: 100%;
        z-index: 5;

        .image {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 45%;

            .imageWrapper {
                width: 55%;
                padding: 1.5rem;
                background-color: $white;
                margin-right: 4rem;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            width: 55%;

            h1 {
                font-size: 3rem;
                font-family: $headingfont;
                margin-bottom: 1rem;
            }

            p {
                font-size: 0.95rem;
                margin: 0.5rem;
                font-weight: 300;

                span {
                    font-weight: 400;
                }
            }
        }
    }

    &.reverse {
        .colourBlock {
            right: 0;
            left: unset;
        }

        .grid {
            flex-direction: row-reverse;

            .image {
                justify-content: flex-start;

                .imageWrapper {
                    margin-right: 0;
                    margin-left: 4rem;
                }
            }

            .content {
                text-align: right;
            }
        }
    }
}
