@import "../global.scss";

.section {
    margin: 4rem 0;

    .heading {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        // overflow: hidden;
        margin-bottom: 4rem;
        padding: 2.5rem 0;

        .image-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                opacity: 80%;
                height: 100%;
            }

        }

        .text {
            h2 {
                font-family: $headingfont;
                font-size: 3rem;
                margin: 0;
            }

            p {
                font-weight: 400;
                font-size: 1.1rem;
                margin: 0;
                margin-top: 0.5rem;
            }
        }
    }

    &.full-width {
        padding: 0;
    }

    &.full-height {
        min-height: 90vh;
    }

    &.no-bottom-margin {
        margin-bottom: 0;
    }


    @media (max-width: 991px) {
        .heading {
            .image-wrapper {
                img {
                    width: 90%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .heading {
            .image-wrapper {
                img {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 576px) {
        .heading {
            padding: 1.5rem;

            .image-wrapper {
                display: unset;

                img {
                    width: 200% !important;
                    position: relative;
                    left: -50%;
                    display: block;
                }
            }
        }
    }
}