@import "../global.scss";

.section {
    margin: 4rem 0;

    &.full-width {
        padding: 0;
    }

    .heading {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        margin-bottom: 4rem;
        padding: 2rem 0;

        img {
            width: 125%;
            left: -12.5%;
            position: absolute;
            z-index: -1;
        }

        h2 {
            font-family: $headingfont;
            font-size: 3rem;
            margin: 0;
        }

        p {
            font-weight: 400;
            font-size: 1.1rem;
            margin: 0;
            margin-top: 0.5rem;
        }
    }
}
