@import "../global.scss";

.grid {
    .availability {
        font-weight: 500 !important;
        color: #a3806c;
        margin-bottom: 1rem;
    }

    .metaInfo {
        border-left: 2px solid $grey;
        padding-left: 1rem;
        margin: 1rem 0;

        p {
            font-size: 0.9rem;

            span {
                display: block;
                font-weight: 500 !important;
            }
        }
    }

    @media (max-width: 768px) {
        .metaInfo {
            border-left: none;
            padding: 0;
        }

        .options {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .quantity {
                margin-right: 0;

                input {
                    text-align: center;
                }
            }
        }
    }
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;

        h1 {
            font-size: 2rem;
            margin: 0;
            font-weight: 600;
        }

        h3 {
            font-weight: 500;
            font-size: 1.1rem;
            font-family: $mainfont;
            margin: 0.5rem 0 1rem 0;
        }

        input {
            width: 100%;
            border: none;
            padding: 0.5rem;
            outline: none;
            border-bottom: 1px solid $grey;
            text-align: center;
            margin-top: 1rem;
        }

        textarea {
            width: 100%;
            border: none;
            padding: 0.5rem;
            outline: none;
            font-family: $mainfont;
            margin-top: 1rem;
            border-bottom: 1px solid $grey;
            height: 5rem;
            resize: none;
            text-align: center;
            margin-top: 1rem;

        }
    }

    .remove {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 1rem;
        font-size: 1.1rem;
        cursor: pointer;
    }

    &.hidden {
        display: none;
    }
}