@import "../global.scss";

.shop-categories {
    background-color: $faded-blue;
    width: 100%;
    padding: 2rem 0;

    .list {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        .list-item {
            margin: 0;
            padding: 0 0.75rem;
            border-right: 1px solid $grey;
            text-transform: uppercase;
            cursor: pointer;

            &.active-list-item {
                font-weight: 500;
            }

            &:after {
                content: "";
                display: block;
                margin: auto;
                margin-top: 2px;
                height: 2px;
                width: 0;
                background: transparent;
                transition: width 0.2s ease-out, background-color 0.3s ease;
                -webkit-transition: width 0.2s ease-out, background-color 0.3s ease;
                -moz-transition: width 0.2s ease-out, background-color 0.3s ease;
                -ms-transition: width 0.2s ease-out, background-color 0.3s ease;
                -o-transition: width 0.2s ease-out, background-color 0.3s ease;
            }

            &:hover {
                &:after {
                    width: 50%;
                    background: $grey;
                }
            }
        }

        .list-item:last-child {
            border-right: none;
        }
    }

    @media (max-width: 768px) {
        .list {
            flex-wrap: wrap;

            .list-item {
                margin-bottom: 0.5rem;
            }
        }
    }
}

.product-grid {
    display: grid;
    column-gap: 2rem;
    row-gap: 4rem;
    grid-template-columns: repeat(4, 1fr);


    .hide-filter {
        display: none;
    }

    @media (max-width: 991px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr
    }

}