@font-face {
    font-family: "Bodoni";
    font-weight: 700;
    src: url("../assets/fonts/bodoni/Bodoni-Bold.ttf");
}

@font-face {
    font-family: "Bodoni";
    font-weight: 400;
    src: url("../assets/fonts/bodoni/Bodoni-Regular.ttf");
}
